.DS_Store
Thumbs.db
.env

volumes/mosquitto/data/
volumes/mosquitto/log/

volumes/nodered/node_modules/
volumes/nodered/.npm/
volumes/nodered/.config.*
volumes/nodered/.sessions.json
volumes/nodered/*backup*
volumes/nodered/*cred.json
volumes/mysql_data/

__pycache__/
*.pyc
*.pyo
heat_model.pkl

nginx/.htpasswd